@{
    ViewData["Title"] = "Instructions";
}
<h2>@ViewData["Title"].</h2>
<h3>Instrcutions to use the application</h3>

<p>Enter a non-zero whole number on the text box</p>
<p>Click on the corresponding to get the desired numeric sequence</p>
<p>Note: Browser will reject any text input and can only accept whole numbers</p>


