@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Narendran Selvaraj<br />
    14 Sarsfield Street<br />
    Blacktown, NSW 2148 <br/>
    <abbr title="Phone">P:</abbr>
    0468 472 252
</address>

<address>
    <strong>Email:</strong> <a href="mailto:snarendran@gmail.com">snarendran@gmail.com</a><br />
</address>
